- content_for :sidebar, render(:partial => 'sidebar')
- content_for :navbar, render(:partial => 'navbar')
- content_for :flash, render(:partial => 'flash')
- content_for :footer, render(:partial => 'footer')
